.calendar-sec {
  display: flex;
  justify-content: center;
  text-align: center;
}

.react-calendar {
  width: 28vw;
  border: none;
  background-color: none;
  margin: 0 7px;
}

.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 30px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
  border-radius: 30px;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 30px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  border-radius: 30px;
}

