.vacation-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.vacation-chart {
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.vacation-contents-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
}

.vacation-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.remain-vacation-days {
  font-size: 40px;
}

.vacation-days {
  font-weight: 100;
}

.vacation-exp {
  font-weight: 100;
  font-size: 12px;
  margin-left: 10px;
}